<!-- 
Nikolay Gniteev (c) 2012 (godhart@gmail.com)
-->

<%= wiki_page_breadcrumb(@page) %>

<h2><%= h @page.pretty_title %></h2>

<%= form_for @content, :as => :content,
            :url => {:action => 'update', :id => @page.title},
            :html => {:method => :put, :multipart => true, :id => 'wiki_form'} do |f| %>
<%= f.hidden_field :version %>
<input id='payload' name='content[text]' type='hidden' value=''></input>
<% if @section %>
<%= hidden_field_tag 'section', @section %>
<%= hidden_field_tag 'section_hash', @section_hash %>
<% end %>
<%= error_messages_for 'content' %>

<div id="editor" class="wiki" contenteditable="true" spellcheck="true">
<% if !@text.nil? %>
  <% if @text =~ /\baloha-flag\b/%>
    <%= @text.html_safe %>
  <% else %>
    <%= Redmine::WikiFormatting.to_html(Setting.text_formatting, @text).html_safe %>
  <% end %>
<% end %>
</div>


<div class="box tabular">

<% if @page.safe_attribute_names.include?('parent_id') && @wiki.pages.any? %>
  <% fields_for @page do |fp| %>
    <p>
      <label><%= l(:field_parent_title) %></label>
      <%= fp.select :parent_id, "<option value=''></option>" + wiki_page_options_for_select(@wiki.pages.all(:include => :parent) - @page.self_and_descendants, @page.parent) %>
    </p>
  <% end %>
<% end %>

<p><label><%= l(:field_comments) %></label><%= f.text_field :comments, :size => 120 %></p>
<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>
<% end %>

<button id="save">Save</button>


<!-- Scripts Goes Here -->

<script type="text/javascript">
Aloha.ready( function() {
	var $ = Aloha.jQuery;
	$('#editor').aloha();

	$('#save').click(function(){
		payload = $("#editor");
		a = jQuery("#aloha-flag", payload);
		if (a.html() === null) {
			payload.append("<div style='visibility: hidden; display: none;' id='aloha-flag'></div>");
		}
		$("#payload").attr("value", payload.html());
		$("#wiki_form").submit(); 
	});
});
</script>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
  <%= robot_exclusion_tag %>

  <%= stylesheet_link_tag('../javascripts/aloha/css/aloha.css', :plugin => 'redmine_aloha_wiki') %>
  <%= javascript_include_tag('aloha/lib/aloha.js', :plugin => 'redmine_aloha_wiki').sub('>', ' data-aloha-plugins="custom1/format,custom1/list,custom1/image,custom1/link">').html_safe %>

<script type="text/javascript">
Aloha.settings = {
	bundles: {
		custom1: '/plugin_assets/redmine_aloha_wiki/javascripts/aloha/plugins/common'
    }
};
</script>

<script type="text/javascript">
  var saved_sizes={};
  function toggleHiddenSize(element, value) {
    var el = document.getElementById(element);
    if(value == false) {
      el.style.height=saved_sizes.element;
      el.style.visibility = "visible";
    }
    else {
      saved_sizes.element=el.style.height;
      el.style.visibility = "hidden";
      el.style.height=0;
    }
  }

  function toggleHidden(element, value) {
    var el = document.getElementById(element);
    if(value == false) {
      el.style.visibility = "visible";
    }
    else {
      el.style.visibility = "hidden";
    }
  }

  function align(element1, element2) {
    var el1 = document.getElementById(element1);
    var el2 = document.getElementById(element2);
    //#TODO: it doesn't works for some reason
    el2.style.left=el1.style.left;
    el2.style.top=el1.style.top;
  }

  function clean(element) {
    var el = document.getElementById(element);
    el.innerHTML = ""
  }
</script>

<% end %>

<% html_title @page.pretty_title %>
